CompileFlags:
  Compiler: xtensa-esp32-elf-g++
  CompilationDatabase: build/
  Add:
    - "-std=c++23"
    - "-Wall"
    - "-Wextra"
  Remove:
    - "-m*"  # Удаляет флаги специфичные для xtensa
    - "-f*"  # Может убрать проблемные флаги

Diagnostics:
  ClangTidy:
    Add: [performance-*, modernize-*]
    Remove: [modernize-use-trailing-return-type]
  UnusedIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
