<!DOCTYPE html>
<html>
  <head>
    <title>CU Configuration</title>
    <script src="app.js"></script>
</head>
<body>
  <h1>Configuration</h1>

  <!--  <div id="loading">Loading...</div> -->

  <form id="wifi_form" action="/api/config/wifi" method="post">
    <h3>Wifi Config</h3>
    <div id="wifi_loading">Loading...</div>

    <div class="form-group">
      <label>WiFi SSID:</label>
      <input type="text" id="wifi_ssid" name="wifi_ssid" required>
    </div>
    <div class="form-group">
      <label>WiFi Password:</label>
      <input type="text" id="wifi_password" name="wifi_password" required>
    </div>

    <button type="submit">Save</button>
  </form>


</body>
</html>
